# Executables and object files
*.exe
*.out
*.o

# Raylib build specific
/build/
/bin/

# VS Code files
.vscode/

# DLLs and specific libraries
*.dll

# Unrelated project folders (Adjust names if you keep them for reference)
PingPong/
Snake/